services:
  app:
    build: .
    container_name: spring_app
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${PG_DB}
      - SPRING_DATASOURCE_USERNAME=${PG_USER}
      - SPRING_DATASOURCE_PASSWORD=${PG_PASSWORD}
      - N8N_URL=${N8N_URL}
      - N8N_API_KEY=${N8N_API_KEY}
      - N8N_WEBHOOK_KEY=${N8N_WEBHOOK_KEY}
      - JWT_SECRET=${JWT_SECRET}
      - INIT_ADMIN_PASSWORD=${INIT_ADMIN_PASSWORD}
      - SPRING_PROFILES_ACTIVE=${SB_PROFILE}
      - FRONT_URL=${FRONT_URL}
      - FERNANDOSCHILDER_APP_INTERNAL_TOKEN=${INTERNAL_TOKEN}
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PASSWORD}
      - POSTGRES_DB=${PG_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
volumes:
  postgres_data:
